@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;

700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.brands__slider .swiper-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__slider .swiper-button-prev {
  left: -30px;
}

.brands__slider .swiper-button-next {
  right: -30px;
}

.brands__slider .swiper-button-next,
.brands__slider .swiper-button-prev {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0;
  width: 16px;
  height: 16px;
}

.brands__slider .swiper-button-next:after,
.brands__slider .swiper-button-prev:after {
  display: none;
}

.advantages__slider .swiper-wrapper {
  position: relative;
}

.advantages__slider .swiper-slide {
  height: auto;
  margin: 0 0 6px 0;
}

.advantages__slider .swiper-button-prev {
  left: -30px;
}

.advantages__slider .swiper-button-next {
  right: -30px;
}

.advantages__slider .swiper-button-next,
.advantages__slider .swiper-button-prev {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0;
  width: 16px;
  height: 16px;
}

.advantages__slider .swiper-button-next:after,
.advantages__slider .swiper-button-prev:after {
  display: none;
}

._container {
  position: relative;
  height: 100%;
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  min-width: 320px;
  overflow: hidden;
  background: #F8FFFF;
}

.header {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body.fixed {
  overflow: hidden;
}

.header-main {
  position: absolute;
  width: 100%;
  min-width: 320px;
  padding: 30px 0 0 0;
}

.header-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 100px;
}

.header-main__logo img {
  width: 100%;
  height: auto;
}

.header-main__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 58px 0 0;
}

.header-main__icon:first-child {
  margin: 0 58px 0 0;
}

.header-main__icon img {
  max-width: 100%;
  height: auto;
}

.header-main__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #1E959B;
  background: url(../img/header-main/icons/icon-phone.svg) 0 0 no-repeat;
  padding: 0 0 0 34px;
  margin: 0 58px 0 0;
}

.header-main__btn {
  display: inline-block;
  background: #F05670;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header-main__btn:hover {
  background: #1E959B;
}

.header-main__btn a {
  display: block;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 23px 40px;
}

.introduction__container {
  padding: 150px 100px 54px 100px;
  height: 100%;
}

.introduction__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
}

.introduction__info {
  position: relative;
  z-index: 2;
  max-width: 322px;
  padding: 115px 0 0 0;
}

.introduction__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
  color: #1E959B;
  margin: 0 0 16px 0;
  max-width: 230px;
}

.introduction__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #3C3C3C;
  margin: 0 0 50px 0;
}

.introduction__btn {
  display: inline-block;
  background: #F05670;
  -webkit-box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
          box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
  border-radius: 20px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.introduction__btn:hover {
  background: #1E959B;
}

.introduction__btn a {
  display: block;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 25px 24px;
}

.introduction__img {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  min-height: 100%;
  margin: 0 52px 0 0;
}

.introduction__img img {
  width: 100%;
  height: auto;
}

.brands {
  padding: 17px 0;
  background: #1E959B;
}

.brands__container {
  padding: 0 70px;
}

.brands__slider {
  position: relative;
  display: none;
}

.brands__slider-slide {
  text-align: center;
}

.brands__slider-slide img {
  max-width: 100%;
  height: auto;
}

.brands__slider-btn-next {
  background: url(../img/slider/brands/arrows/arrow_r.svg) 0 0/contain no-repeat;
}

.brands__slider-btn-prev {
  background: url(../img/slider/brands/arrows/arrow_l.svg) right 0/contain no-repeat;
}

.brands__static-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__static-blocks-slide img {
  max-width: 100%;
  height: auto;
}

.advantages {
  padding: 120px 0 0 0;
}

.advantages__container {
  padding: 0 70px;
}

.advantages__slider {
  position: relative;
}

.advantages__slider-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__slider-slide-content {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7F9FD));
  background: -o-linear-gradient(top, #FFFFFF 0%, #F7F9FD 100%);
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
  -webkit-box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
          box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
  border-radius: 25px;
  padding: 27px 15px 19px 15px;
  width: 100%;
}

.advantages__slider-slide-content:hover {
  -webkit-box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
          box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
}

.advantages__slider-btn-next {
  background: url(../img/slider/advantages/arrows/arrow_r.svg) 0 0/contain no-repeat;
}

.advantages__slider-btn-prev {
  background: url(../img/slider/advantages/arrows/arrow_l.svg) right 0/contain no-repeat;
}

.advantages__slider-slide-img {
  text-align: center;
  margin: 0 0 20px 0;
}

.advantages__slider-slide-img img {
  max-width: 100%;
  height: auto;
}

.advantages__slider-slide-name {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1330px) {
  ._container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  ._container {
    max-width: 992px;
  }

  .header-main__container {
    padding: 0 45px;
  }

  .header-main__icons {
    margin: 0 29px 0 0;
  }

  .header-main__icon:first-child {
    margin: 0 29px 0 0;
  }

  .header-main__phone {
    margin: 0 29px 0 0;
  }

  .introduction__container {
    padding: 150px 45px 54px 45px;
  }

  .introduction__img {
    margin: 0;
  }

  .brands__slider {
    display: block;
  }

  .brands__static-blocks {
    display: none;
  }
}

@media (max-width: 992px) {
  ._container {
    max-width: 767px;
  }

  .header-main__icons {
    display: none;
  }

  .introduction__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .introduction__info {
    padding: 0;
    max-width: 220px;
  }

  .introduction__title {
    font-size: 28px;
    margin: 0 0 10px 0;
  }

  .introduction__text {
    margin: 0 0 25px 0;
  }

  .introduction__btn a {
    font-size: 15px;
  }

  .introduction__img {
    max-width: 60%;
  }

  .advantages {
    padding: 60px 0 0 0;
  }
}

@media (max-width: 767px) {
  ._container {
    max-width: 480px;
  }

  .header-main__logo {
    width: 100%;
    min-width: 100%;
    text-align: center;
  }

  .header-main__phone {
    display: none;
  }

  .header-main__btn {
    display: none;
  }

  .introduction__container {
    min-height: 713px;
  }

  .introduction__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .introduction__info {
    padding: 34px 0 0 0;
    min-width: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .introduction__title {
    text-align: center;
    font-size: 32px;
    margin: 0 0 16px 0;
  }

  .introduction__text {
    margin: 0 0 47.35% 0;
  }

  .introduction__img img {
    width: 100%;
    height: auto;
  }

  .introduction__img {
    display: none;
  }

  .introduction {
    background: url(../img/introduction/blocks/main-img.svg) right top 155% no-repeat;
  }

  .advantages__slider-slide-content {
    width: 200px;
  }
}

@media (max-width: 480px) {
  ._container {
    max-width: auto;
  }

  .introduction {
    background: url(../img/introduction/blocks/main-img.svg) 70% 155% no-repeat;
  }
}